<app-loading *ngIf="loading"></app-loading>

<div *ngIf="repo && !loading" class="container pt-4">
  <h2 class="repo-name display-4"><i class="fas fa-book mr-3"></i>{{ repoName }}</h2>

  <app-repo-metadata [githubRepo]="githubRepo" [repo]="repo"></app-repo-metadata>

  <h3 class="models-title display-4 mt-4"><i class="fas fa-brain mr-3"></i>Models</h3>

  <app-tabs class="mt-4">
    <app-tab title="Last train">
      <div class="row">
        <div *ngFor="let model of repo.lastTrain" class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
          <app-model-details  [model]="model"></app-model-details>
        </div>
      </div>
    </app-tab>
    <app-tab title="History pt-2">
      <div class="mb-4" *ngFor="let modelTrain of modelsByTraining | keyvalue">
        <h3 class="training-title">Training #{{ modelTrain.key }}</h3>
        <div class="row">
          <div *ngFor="let model of modelTrain.value" class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
            <app-model-details [model]="model"></app-model-details>
          </div>
        </div>
      </div>
    </app-tab>
  </app-tabs>
</div>
