.repo-wrapper {
  border-left: .6em solid;
}

.title {
  font-size: 1.2em;
  font-weight: 200;
}

.card-footer {
  text-align: right;
  color: gray;
  padding: 0;
  padding-right: 3em;
  padding-top: 1em;
}