<div class="container">
  <div class="banner">
    <ul class="list-inline">
      <li class="list-inline-item">    
        <img src="{{ userService.authUser.gitHubInfo.avatar }}" width="70" class="rounded-circle z-depth-0 mr-2" alt="avatar image">
      </li>
      <li class="list-inline-item pt-4">    
        <h2 class="display-4 user-name mt-3">{{ userService.authUser.gitHubInfo.name }}</h2>
      </li>
    </ul>
  </div>
  <div class="integrate display-4">Integrate MlCi - GitHub App Integration</div>
  <app-empty *ngIf="!githubRepos || githubRepos.length === 0"></app-empty>
  <table mdbTable hover="true">
    <tbody>
      <tr mdbTableCol *ngFor="let el of githubRepos; let i = index" (click)="confirmModal(i, basicModal)">
        <td><a href="https://github.com/{{ el.full_name }}"><i class="fa fa-github fa-lg"></i></a></td>
        <td>
          <i *ngIf="el.private" class="fas fa-unlock-alt fa-lg"></i>
          <i *ngIf="!el.private" class="fas fa-book fa-lg"></i>
        </td>
        <td>{{ el.full_name }}</td>
        <td>{{ el.stargazers_count }} <i class="fas fa-star"></i></td>
        <td>{{ el.forks }} <i class="fas fa-code-branch"></i></td>
      </tr>
    </tbody>
  </table>
</div>


<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel"><i class="fas fa-brain"></i> MlCi Integration</h4>
      </div>
      <div class="modal-body" *ngIf="githubRepos.length > 0">
        Do you wish to integrate MlCi to <b>{{ githubRepos[selectedIndex].name }}</b>?
      </div>
      <div class="modal-footer">
        <button type="button" size="sm" mdbBtn color="light" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button>
        <button type="button" size="sm" mdbBtn color="elegant" class="relative waves-light" (click)="addTrackedRepo()" mdbWavesEffect>Yes</button>
      </div>
    </div>
  </div>
</div>