i {
  color: gray;
}

table {
  margin-top: 3em;
  width: 70%;
}

tr:hover {
  cursor: pointer;
}

h2 {
  font-size: 2.5em;
}

.user-name {
  color: gray;
}

.integrate {
  margin-top: 1.5em;
  color: #547454;
  font-size: 2em;
  font-weight: 100;
}