
<div class="all">
  <app-loading *ngIf="loading; else content"></app-loading>

  <div #content class="container">
    <div class="row align-items-end justify-content-center">
      <div class="col-4 left-container text-right"><i class="icon fa fa-github"></i></div>
      <div class="col-4 center-container"><i class="fa fa-heart"></i></div>
      <div class="col-4 rigth-container text-left"><i class="icon fas fa-brain "></i></div>
    </div>
  
    <button class="btn btn-elegant" (click)="githubAuth()">
      Login with <i class="fa-lg fa fa-github-alt ml-3"></i>
    </button>
  </div>
</div>

