.container {
  width: 50%;
  margin: auto;
  margin-top: 10vh;
}

button {
  font-size: 1.3em;
  border-radius: .2em;
  margin: auto;
  display: block;
  margin-top: 3em;
}

.col-4 {
  text-align: center
}

.icon {
  font-size: 25vh;
  text-align: center;
}

.fa-heart {
  font-size: 20vh;
  color: rgb(255, 122, 122);
}


.fas {
  font-size: 30vh;
}

.center-container {
  text-align: center
}
