<app-loading *ngIf="loading; else content"></app-loading>

<ng-template #content class="container">
  <div class="row align-items-end justify-content-center">
    <div class="col-4 left-container"><i class="icon fa fa-github"></i></div>
    <div class="col-4 center-container"><i class="fa fa-heart"></i></div>
    <div class="col-4 rigth-container"><i class="icon fa fa-github"></i></div>
  </div>

  <button class="btn btn-elegant" (click)="githubAuth()">
    Login with <i class="fa-lg fa fa-github-alt ml-3"></i>
  </button>
</ng-template>
