.container {
  width: 50%;
}

button {
  font-size: 1.3em;
  border-radius: .2em;
  margin: auto;
  display: block;
  margin-top: 3em;
}

.col-4 {
  text-align: center
}

.icon {
  font-size: 25vh;
  text-align: center;
}

.fa-heart {
  font-size: 15vh;
  color: rgb(255, 122, 122);
}

.fas, .fa {
  font-size: 25vh;
}

.fa-heart {
  font-size: 20vh;

}

.center-container {
  text-align: center
}

.all {
  height: 100vh;
  padding-top: 20vh;
  background: #c9d6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #c9d6ff, #e2e2e2); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #c9d6ff, #e2e2e2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
