<nav *ngIf="userService.isLoggedIn()" class="mb-1 navbar navbar-expand-lg navbar-dark elegant-color lighten-1">
  <a class="navbar-brand waves-light p-1" mdbWavesEffect [routerLink]="['']"><i class="fas fa-brain"></i> MlCi</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
    aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['']">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item dropdown avatar" mdbDropdown>
        <a class="nav-link dropdown-toggle waves-light" mdbWavesEffect mdbDropdownToggle>
          <img src="{{ userService.authUser.gitHubInfo?.avatar }}" width="30" class="rounded-circle z-depth-0 mr-2" alt="avatar image">
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-secondary">
          <a class="dropdown-item" href="#"><i class="gray mr-3 fas fa-cogs"></i>Settings</a>
          <a class="dropdown-item" (click)="signOut()"><i class="gray mr-3 fas fa-sign-out-alt"></i>Log out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
