<mdb-card mdbWavesEffect class="repo-wrapper ml-1 mb-2" [ngClass]="status">
  <mdb-card-body class="repo-body">
    <mdb-card-title>
      <h4 class="ml-4 mt-3 name">{{ repoName }}</h4>
    </mdb-card-title>
    <mdb-card-text>
      <ul class="ml-4 mt-3 info">
        <li *ngIf="trainedDate"><i class="far fa-calendar-alt"></i> Finished: {{ trainedDate | date:'yyyy/MM/dd HH:mm' }}</li>
        <li *ngIf="!trainedDate"><i class="far fa-calendar-alt"></i> Finished: -</li>
      </ul>
    </mdb-card-text>
  </mdb-card-body>
</mdb-card>
