.name {
  font-size: 1em;
}

.repo-wrapper {
  border-left: .4em solid;
}

.repo-body {
  padding: 0;
}

.trained {
  border-color: #1da054;
}

.pendent {
  border-color: #9e9e9e;
}

.error {
  border-color: #ff6f6f;
}

.training {
  border-color: #fff177;
}

ul {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}